
<div class="hero-unit">
  <h1>Bem vindo!</h1>
  <p>Community é o sistema que ajuda você a priorizar soluções, sugerir projetos e 
  acompanhar o andamento de tudo o que está sendo feito em seu condomínio. 
  </p><p> 
  Vote, acompanhe e transforme a melhoria da sua comunidade em uma prioridade.
  </p>
  <br>
  <p>
  <a class="btn btn-primary btn-large" href='<%= dashboard_index_path %>'>
    Veja o resumo dos principais assuntos
  </a>
  </p>
</div>

