
<div class="hero-unit">
  <h1>Bem vindo!</h1>
  <p>Essa aplicação foi desenvolvida especialmente para o condomínio Castanheira.</p>
  <br>
  <p>
    <a class="btn btn-primary btn-large" href='<%= dashboard_index_path %>'>
      Veja o resumo dos principais assuntos
    </a>
  </p>
</div>

