development:
  adapter: postgresql
  encoding: unicode
  database: community_development
  pool: 5
  username: camalionte
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: community_test
  pool: 5
  username: camalionte
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: community_production
  pool: 5
  username: community
  password:
