// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-center {
  margin-left: -410px
}

.modal-fixed {
  position: fixed
}

.back-gray{
  background-color: #D3D3D3
}

.back-danger{
  background-color: #FFDEDD
}

.back-warning{
  background-color: #FFECD3
}

.back-success{
  background-color: #CEFFCE
}

.back-info{
  background-color: #D3F5FF
}
